.chatList {
   width: 35%;
   height: 100%;
   padding: 20px 20px 50px;
   font-size: 20px;
   font-weight: semibold;

   overflow-y: auto;
}

.form {
   position: absolute;
   bottom: 20px;
   background-color: #fff;
}

.rename {
   width: 100%;
   background-color: #fff;
   margin-bottom: 20px;

   display: flex;

   button {
      margin-left: 10px;
   }
}

.manage {
   width: 100%;
   background-color: #fff;

   display: flex;
   justify-content: space-between;
}

.active {

   button {
      border-radius: 50%;
      background-color: #555;
   }

   svg {
      fill: #fff;
   }
}