.chatList {
   width: 35%;
   height: 100%;
   padding: 20px 20px 50px;
   font-size: 20px;
   font-weight: semibold;

   overflow-y: auto;
}

.chatManage {
   position: absolute;
   bottom: 20px;
   background-color: #fff;
}

.active {
   display: block;
   border-radius: 50%;
   background-color: #555;

   svg {
      fill: #fff;
   }
}