.form {
  width: 100%;
  margin-top: 50px;
  background-color: #fff;

  display: flex;
  justify-content: space-between;

  button {
    margin-left: 10px;
  }
}

.textField {
  flex-grow: 1;
}

.exit {
  display: block;
  margin-top: 50px;
}
